
<Doctype html>
<head>
<title>The world&#39;s leading software development platform  GitHub</title>

</head>

<body>
<table width="100%" height="10%" bgcolor="#24292E" border="0">
	<tr>	<td><img src="https://image.flaticon.com/icons/png/512/25/25231.png" height="70" width="70" align="right"> </td>
		<td>
			<p style = "color:white">Features&nbsp;&nbsp;&nbsp;Buisness&nbsp;&nbsp;&nbsp;Explore&nbsp;&nbsp;    Marketplace &nbsp;&nbsp;Pricing    </p>

		</td>
	</tr>
</table>
<table width="100%" height="90%" bgcolor="#2B3137" border="0">
<tr>
<td width="50%" height="90%"><p align = "center"><font color="white" face ="Segoe UI" size="10%"> Built for<br/> developers</font></p>
<p align ="center"><font color="white" face="Segoe UI" size="5%">GitHub is a development platform inspired by<br/> the way
	 you work. From open source to <br/> business, you can host and review code,<br/>
	 manage projects, and build software alongside <br/>millions of other developers.</font> </p>
</td>
<td>
	<table width="60%" height="85%" bgcolor="#FFFFFF" border="0">
		<tr><td><p align="center">
			Username<br>
			<input type="text" name="usename" placeholder="Pick a username"><br><br><br><br>
			Email<br>
			<input type="email" name="email" placeholder="you@example.com"><br><br><br><br>
			Password<br>
			<input type="password" name="pass" placeholder="****"><br><br><br><br>
			<input type="submit" value="Submit">
		</p>



		</td></tr>

	</table>
</td>

</tr>
</table>

<table width="100%" height="30%" bgcolor="#24292E" border="0">
<tr>
<td height="30%" width="70%">
	<img src = "https://assets-cdn.github.com/images/modules/site/universe-octoshop.png" height="40%" width="40%">
</td >
<td height="30%" width="50%">
	<p align = "up"><font color="white" face ="Segoe UI">Experience the Octoshop</font><p>

</td>
</tr>
</table>

<table width="100%" height="60%" bgcolor="#FFFFFF" border="0">
	<tr>
			<td><p  align="center" >Github for team </p>

	<h1  align="center" > <font color="black" face="Segoe UI" size="10%">A better way to work togeather</font> </h1>

	<p  align="center" > <font color="black"> GitHub brings teams together to work through problems, move ideas forward, and learn from each other along the way. </p>
	<p align ="center"><button type="button" onclick="#" align="center" bgcolor="#FFFFFF" >Sign up your team</button><font>
</P>
</td>

	</tr>

</table >
<table height ="60%" width="100%" bgcolor="#FFFFFF" border="0">
<tr>
	<td width="50%" height="60%">
		<h2><font color="black" face="Segoe UI">Write better code</font></h2>
		<p><font face="Segoe UI">Collaboration makes perfect. The conversations and code <br/>
			reviews that happen in Pull Requests help your team share the</br>
			 weight of your work and improve the software you build.</font></p>
			 <a href="#">Learn about code review on Github</a>
	</td>
	<td>
		<img src="https://assets-cdn.github.com/images/modules/site/home-illo-conversation.svg" width="80%" height="80%">

	</td>
</tr>
</table>
<table height ="60%" width="100%" bgcolor="#FFFFFF" border="0">
<tr>
	<td width="50%" height="60%">
		<img src="https://assets-cdn.github.com/images/modules/site/home-illo-chaos.svg" width="80%" height="80%">

	</td>
	<td >
		<h2><font color="black" face="Segoe UI">Manage your chaos</font></h2>
		<p><font face="Segoe UI">Take a deep breath. On GitHub, project management happens in<br/>
			Issues and Projects, right alongside your code. All you have to </br>
			 do is mention a teammate to get them involved.</font></p>
			 <a href="#">Learn about project management on GitHub</a>
	</td>

</tr>
</table>
<table width="100%" height="60%" bgcolor="#FFFFFF" border="0">
	<tr>
			<td><p  align="center" >Security and administration</p>

	<h1  align="center" ><font color="black" face="Segoe UI" size="10%">Boxes? Check.</font></h1>

	<p  align="center" ><font color="black"  >We worried about your administrative and security needs so you don’t have </br>
		to. From flexible hosting to authentication options, GitHub can help you meet </br>your team’s requirements.</font>
	</p>
	<p align ="center"><button type="button" onclick="#" align="center" bgcolor="#FFFFFF" >Learn about Github for business</button>
</P>
</td>

	</tr>

</table >
</table>
<table width="100%" height="60%" bgcolor="#FFFFFF" border="0">
	<tr>
			<td><p  align="center" >Integrations</p>

	<p  align="center" ><font color="black" face="Segoe UI" size="10%">Build on GitHub</table></p>

	<p  align="center" ><font color="black" face="Segoe UI" >Customize your process with GitHub apps and an intuitive API. Integrate  </br>
		the tools you already use or discover new favorites to create a happier, </br>more efficient way of working.
	</font>
	</p>
	<p align ="center" ><button type="button" onclick="#" align="center" bgcolor="#FFFFFF" >Learn about Integrations</button>
</P>
</td>

	</tr>

</table >

<table bgcolor="#24292E" height="80%" width="100%" border="0">
	<tr ><td height="60%">
<p align="center"><font color="white" face="Segoe UI" size="6%">Get started for free — join the millions of developers </br>
	already using GitHub to share their code, work together, </br>
	and build amazing things.
</p>
	</td></tr>
<tr><td><p align  = "center"
<input type="text" name="a" placeholder="Pick a username" >
<input type="email" name="a" placeholder="Your email Address" >
<input type="password" name="a" placeholder="******" >
<button type="button" >Signup for Github</button>
</p></td></tr>
</table>


</body>
</Doctype>
